* {
  margin: 0;
  box-sizing: border-box;
}
body {
    background-color: black;
    color: white;
    font-family: IBM BIOS;
    overflow-x: hidden;
    overflow-y: hidden;
}
canvas{
 image-rendering: optimizeSpeed;             /* Older versions of FF          */
  image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast; /* Safari                        */
  image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated;                 /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor; 
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 15px;
    z-index: 1000;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.range{
    color: black;
}
#display {
    text-align: center;
    white-space: pre;
}

@font-face {
    font-family: IBM BIOS;
    src: url(./assets/Web437_IBM_EGA_8x8.woff);
}